.contact{
    height: calc(100vh - 228px);
    width: 100%;
}


.contact-container{
    padding-top: 100px;
    margin-left: 450px;
    max-width: 600px;
    text-align: center;
    
}
.contact-container h3{
    font-size: 24px;
    color: #000;
}

.contact-container p{
    font-size: 18px;
    color: gray;
}