
.product-box{
    flex: 1 1 250px;
    height: 330px;
    box-shadow: 1px 3px 5px gray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.product-box:hover{
    box-shadow: 1px 9px 3px gray;
}
img{
    width: 250px;
}
.productImg{
    position: relative;

}
.product-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20px;
}
.product-content .price{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.product-content .model{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.1px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.product-content .product-info .carYear,
.product-content .product-info .motor,
.product-content .product-info .mileage{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding-right: 6px;
}

.product-content .createdTime{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 5px;
    color: grey;
}